# Desafio 6

Neste desafio, vamos praticar _feature engineering_, um dos processos mais importantes e trabalhosos de ML. Utilizaremos o _data set_ [Countries of the world](https://www.kaggle.com/fernandol/countries-of-the-world), que contém dados sobre os 227 países do mundo com informações sobre tamanho da população, área, imigração e setores de produção.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [2]:
# Algumas configurações para o matplotlib.
#%matplotlib inline
"""
from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

"""

'\nfrom IPython.core.pylabtools import figsize\n\n\nfigsize(12, 8)\n\nsns.set()\n\n'

In [3]:
countries = pd.read_csv("countries.csv")

In [4]:
new_column_names = [
    "Country", "Region", "Population", "Area", "Pop_density", "Coastline_ratio",
    "Net_migration", "Infant_mortality", "GDP", "Literacy", "Phones_per_1000",
    "Arable", "Crops", "Other", "Climate", "Birthrate", "Deathrate", "Agriculture",
    "Industry", "Service"
]

countries.columns = new_column_names

countries.head(7)

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"42,0","7,8","2,41","0,24","97,35",NaN,"45,11","24,2","0,096","0,658","0,246"
6,Anguilla,LATIN AMER. & CARIB,13477,102,"132,1","59,80","10,76","21,03",8600.0,"95,0","460,0",0,0,100,2,"14,17","5,34","0,04","0,18","0,78"

## Observações

Esse _data set_ ainda precisa de alguns ajustes iniciais. Primeiro, note que as variáveis numéricas estão usando vírgula como separador decimal e estão codificadas como strings. Corrija isso antes de continuar: transforme essas variáveis em numéricas adequadamente.

Além disso, as variáveis `Country` e `Region` possuem espaços a mais no começo e no final da string. Você pode utilizar o método `str.strip()` para remover esses espaços.

## Inicia sua análise a partir daqui

In [5]:
# Sua análise começa aqui.
# substitui vírgula por ponto e converte colunas para tipo float
list_of_float_columns = list(countries.columns)[4:]
for item in list_of_float_columns:
    if countries[item].dtype == 'object':
        countries[item] = countries[item].astype(str)
        countries[item] = countries[item].map(lambda x: float(x.replace(',','.')))

# remove espacos em branco do texto
countries['Country'] = countries['Country'].map(lambda x: x.strip())
countries['Region'] = countries['Region'].map(lambda x: x.strip())

In [6]:
countries

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,1900.0,42.0,7.8,2.41,0.24,97.35,NaN,45.11,24.20,0.096,0.658,0.246
6,Anguilla,LATIN AMER. & CARIB,13477,102,132.1,59.80,10.76,21.03,8600.0,95.0,460.0,0.00,0.00,100.00,2.0,14.17,5.34,0.040,0.180,0.780
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,156.0,34.54,-6.15,19.46,11000.0,89.0,549.9,18.18,4.55,77.27,2.0,16.93,5.37,0.038,0.220,0.743
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,14.4,0.18,0.61,15.18,11200.0,97.1,220.4,12.31,0.48,87.21,3.0,16.73,7.55,0.095,0.358,0.547
9,Armenia,C.W. OF IND. STATES,2976372,29800,99.9,0.00,-6.47,23.28,3500.0,98.6,195.7,17.55,2.30,80.15,4.0,12.07,8.23,0.239,0.343,0.418
10,Aruba,LATIN AMER. & CARIB,71891,193,372.5,35.49,0.00,5.89,28000.0,97.0,516.1,10.53,0.00,89.47,2.0,11.03,6.68,0.004,0.333,0.663
11,Australia,OCEANIA,20264082,7686850,2.6,0.34,3.98,4.69,29000.0,100.0,565.5,6.55,0.04,93.41,1.0,12.14,7.51,0.038,0.262,0.700
12,Austria,WESTERN EUROPE,8192880,83870,97.7,0.00,2.00,4.66,30000.0,98.0,452.2,16.91,0.86,82.23,3.0,8.74,9.76,0.018,0.304,0.678
13,Azerbaijan,C.W. OF IND. STATES,7961619,86600,91.9,0.00,-4.90,81.74,3400.0,97.0,137.1,19.63,2.71,77.66,1.0,20.74,9.75,0.141,0.457,0.402
14,"Bahamas, The",LATIN AMER. & CARIB,303770,13940,21.8,25.41,-2.20,25.21,16700.0,95.6,460.6,0.80,0.40,98.80,2.0,17.57,9.05,0.030,0.070,0.900
15,Bahrain,NEAR EAST,698585,665,1050.5,24.21,1.05,17.27,16900.0,89.1,281.3,2.82,5.63,91.55,1.0,17.80,4.14,0.005,0.387,0.608
16,Bangladesh,ASIA (EX. NEAR EAST),147365352,144000,1023.4,0.40,-0.71,62.60,1900.0,43.1,7.3,62.11,3.07,34.82,2.0,29.80,8.27,0.199,0.198,0.603
17,Barbados,LATIN AMER. & CARIB,279912,431,649.5,22.51,-0.31,12.50,15700.0,97.4,481.9,37.21,2.33,60.46,2.0,12.71,8.67,0.060,0.160,0.780
18,Belarus,C.W. OF IND. STATES,10293011,207600,49.6,0.00,2.54,13.37,6100.0,99.6,319.1,29.55,0.60,69.85,4.0,11.16,14.02,0.093,0.316,0.591
19,Belgium,WESTERN EUROPE,10379067,30528,340.0,0.22,1.23,4.68,29100.0,98.0,462.6,23.28,0.40,76.32,3.0,10.38,10.27,0.010,0.240,0.749
20,Belize,LATIN AMER. & CARIB,287730,22966,12.5,1.68,0.00,25.69,4900.0,94.1,115.7,2.85,1.71,95.44,2.0,28.84,5.72,0.142,0.152,0.612
21,Benin,SUB-SAHARAN AFRICA,7862944,112620,69.8,0.11,0.00,85.00,1100.0,40.9,9.7,18.08,2.40,79.52,2.0,38.85,12.22,0.316,0.138,0.546
22,Bermuda,NORTHERN AMERICA,65773,53,1241.0,194.34,2.49,8.53,36000.0,98.0,851.4,20.00,0.00,80.00,2.0,11.40,7.74,0.010,0.100,0.890
23,Bhutan,ASIA (EX. NEAR EAST),2279723,47000,48.5,0.00,0.00,100.44,1300.0,42.2,14.3,3.09,0.43,96.48,2.0,33.65,12.70,0.258,0.379,0.363
24,Bolivia,LATIN AMER. & CARIB,8989046,1098580,8.2,0.00,-1.32,53.11,2400.0,87.2,71.9,2.67,0.19,97.14,1.5,23.30,7.53,0.128,0.352,0.520
25,Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,88.0,0.04,0.31,21.05,6100.0,NaN,215.4,13.60,2.96,83.44,4.0,8.77,8.27,0.142,0.308,0.550
26,Botswana,SUB-SAHARAN AFRICA,1639833,600370,2.7,0.00,0.00,54.58,9000.0,79.8,80.5,0.65,0.01,99.34,1.0,23.08,29.50,0.024,0.469,0.507
27,Brazil,LATIN AMER. & CARIB,188078227,8511965,22.1,0.09,-0.03,29.61,7600.0,86.4,225.3,6.96,0.90,92.15,2.0,16.56,6.17,0.084,0.400,0.516
28,British Virgin Is.,LATIN AMER. & CARIB,23098,153,151.0,52.29,10.01,18.05,16000.0,97.8,506.5,20.00,6.67,73.33,2.0,14.89,4.42,0.018,0.062,0.920
29,Brunei,ASIA (EX. NEAR EAST),379444,5770,65.8,2.79,3.59,12.61,18600.0,93.9,237.2,0.57,0.76,98.67,2.0,18.79,3.45,0.036,0.561,0.403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Syria,NEAR EAST,18881361,185180,102.0,0.10,0.00,29.53,3300.0,76.9,153.8,25.22,4.43,70.35,1.0,27.76,4.81,0.249,0.230,0.519
198,Taiwan,ASIA (EX. NEAR EAST),23036087,35980,640.3,4.35,0.00,6.40,23400.0,96.1,591.0,24.00,1.00,75.00,2.0,12.56,6.48,0.018,0.259,0.723
199,Tajikistan,C.W. OF IND. STATES,7320815,143100,51.2,0.00,-2.86,110.76,1000.0,99.4,33.5,6.61,0.92,92.47,2.0,32.65,8.25,0.234,0.286,0.480
200,Tanzania,SUB-SAHARAN AFRICA,37445392,945087,39.6,0.15,-2.06,98.54,600.0,78.2,4.0,4.52,1.08,94.40,NaN,37.71,16.39,0.432,0.172,0.396
201,Thailand,ASIA (EX. NEAR EAST),64631595,514000,125.7,0.63,0.00,20.48,7400.0,92.6,108.9,29.36,6.46,64.18,2.0,13.87,7.04,0.099,0.441,0.460
202,Togo,SUB-SAHARAN AFRICA,5548702,56785,97.7,0.10,0.00,66.61,1500.0,60.9,10.6,46.15,2.21,51.64,2.0,37.01,9.83,0.395,0.204,0.401
203,Tonga,OCEANIA,114689,748,153.3,56.02,0.00,12.62,2200.0,98.5,97.7,23.61,43.06,33.33,2.0,25.37,5.28,0.230,0.270,0.500
204,Trinidad & Tobago,LATIN AMER. & CARIB,1065842,5128,207.9,7.06,-10.83,24.31,9500.0,98.6,303.5,14.62,9.16,76.22,2.0,12.90,10.57,0.007,0.570,0.423
205,Tunisia,NORTHERN AFRICA,10175014,163610,62.2,0.70,-0.57,24.77,6900.0,74.2,123.6,17.86,13.74,68.40,3.0,15.52,5.13,0.132,0.318,0.550
206,Turkey,NEAR EAST,70413958,780580,90.2,0.92,0.00,41.04,6700.0,86.5,269.5,30.93,3.31,65.76,3.0,16.62,5.97,0.117,0.298,0.585
207,Turkmenistan,C.W. OF IND. STATES,5042920,488100,10.3,0.00,-0.86,73.08,5800.0,98.0,74.6,3.72,0.14,96.14,1.0,27.61,8.60,0.209,0.380,0.411
208,Turks & Caicos Is,LATIN AMER. & CARIB,21152,430,49.2,90.47,11.68,15.67,9600.0,98.0,269.5,2.33,0.00,97.67,2.0,21.84,4.21,NaN,NaN,NaN
209,Tuvalu,OCEANIA,11810,26,454.2,92.31,0.00,20.03,1100.0,NaN,59.3,0.00,0.00,100.00,2.0,22.18,7.11,0.166,0.272,0.562
210,Uganda,SUB-SAHARAN AFRICA,28195754,236040,119.5,0.00,0.00,67.83,1400.0,69.9,3.6,25.88,10.65,63.47,2.0,47.35,12.24,0.311,0.222,0.469
211,Ukraine,C.W. OF IND. STATES,46710816,603700,77.4,0.46,-0.39,20.34,5400.0,99.7,259.9,56.21,1.61,42.18,3.0,8.82,14.39,0.187,0.452,0.361
212,United Arab Emirates,NEAR EAST,2602713,82880,31.4,1.59,1.03,14.51,23200.0,77.9,475.3,0.60,2.25,97.15,1.0,18.96,4.40,0.040,0.585,0.375
213,United Kingdom,WESTERN EUROPE,60609153,244820,247.6,5.08,2.19,5.16,27700.0,99.0,543.5,23.46,0.21,76.33,3.0,10.71,10.13,0.005,0.237,0.758
214,United States,NORTHERN AMERICA,298444215,9631420,31.0,0.21,3.41,6.50,37800.0,97.0,898.0,19.13,0.22,80.65,3.0,14.14,8.26,0.010,0.204,0.787
215,Uruguay,LATIN AMER. & CARIB,3431932,176220,19.5,0.37,-0.32,11.95,12800.0,98.0,291.4,7.43,0.23,92.34,3.0,13.91,9.05,0.093,0.311,0.596
216,Uzbekistan,C.W. OF IND. STATES,27307134,447400,61.0,0.00,-1.72,71.10,1700.0,99.3,62.9,10.83,0.83,88.34,1.0,26.36,7.84,0.342,0.229,0.430
217,Vanuatu,OCEANIA,208869,12200,17.1,20.72,0.00,55.16,2900.0,53.0,32.6,2.46,7.38,90.16,2.0,22.72,7.82,0.260,0.120,0.620
218,Venezuela,LATIN AMER. & CARIB,25730435,912050,28.2,0.31,-0.04,22.20,4800.0,93.4,140.1,2.95,0.92,96.13,2.0,18.71,4.92,0.040,0.419,0.541
219,Vietnam,ASIA (EX. NEAR EAST),84402966,329560,256.1,1.05,-0.45,25.95,2500.0,90.3,187.7,19.97,5.95,74.08,2.0,16.86,6.22,0.209,0.410,0.381
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,56.9,9.84,-8.94,8.03,17200.0,NaN,652.8,11.76,2.94,85.30,2.0,13.96,6.43,0.010,0.190,0.800
221,Wallis and Futuna,OCEANIA,16025,274,58.5,47.08,NaN,NaN,3700.0,50.0,118.6,5.00,25.00,70.00,2.0,NaN,NaN,NaN,NaN,NaN
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [7]:
countries.dtypes

Country              object
Region               object
Population            int64
Area                  int64
Pop_density         float64
Coastline_ratio     float64
Net_migration       float64
Infant_mortality    float64
GDP                 float64
Literacy            float64
Phones_per_1000     float64
Arable              float64
Crops               float64
Other               float64
Climate             float64
Birthrate           float64
Deathrate           float64
Agriculture         float64
Industry            float64
Service             float64
dtype: object

## Questão 1

Quais são as regiões (variável `Region`) presentes no _data set_? Retorne uma lista com as regiões únicas do _data set_ com os espaços à frente e atrás da string removidos (mas mantenha pontuação: ponto, hífen etc) e ordenadas em ordem alfabética.

In [8]:
def q1():
    x = list(countries['Region'].unique())
    return sorted(x)

## Questão 2

Discretizando a variável `Pop_density` em 10 intervalos com `KBinsDiscretizer`, seguindo o encode `ordinal` e estratégia `quantile`, quantos países se encontram acima do 90º percentil? Responda como um único escalar inteiro.

In [9]:
def q2():
    # Retorne aqui o resultado da questão 2.
    est = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='quantile')
    est.fit(countries[['Pop_density']])
    Xt = est.transform(countries[['Pop_density']])
    
    df = pd.concat([countries['Country'],pd.DataFrame(Xt)],axis=1, ignore_index= True)
    df.columns = ['Country','bin']
    k = df.bin.quantile(0.9)
    num = df[(df.bin >=k)].drop_duplicates(subset=['Country']).count()
    return int(num[0])

# Questão 3

Se codificarmos as variáveis `Region` e `Climate` usando _one-hot encoding_, quantos novos atributos seriam criados? Responda como um único escalar.

In [24]:
def q3():
    # Retorne aqui o resultado da questão 3.
    x = pd.get_dummies(countries['Region']).columns.shape[0]
    y = pd.get_dummies(countries['Climate']).columns.shape[0]
    return x + y + 1 # soma 1 da coluna NaN

## Questão 4

Aplique o seguinte _pipeline_:

1. Preencha as variáveis do tipo `int64` e `float64` com suas respectivas medianas.
2. Padronize essas variáveis.

Após aplicado o _pipeline_ descrito acima aos dados (somente nas variáveis dos tipos especificados), aplique o mesmo _pipeline_ (ou `ColumnTransformer`) ao dado abaixo. Qual o valor da variável `Arable` após o _pipeline_? Responda como um único float arredondado para três casas decimais.

In [11]:
test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

In [12]:
def q4():
    # Retorne aqui o resultado da questão 4.
    #obtem apenas as colunas numéricas
    var_numerica = countries.select_dtypes({'int64','float64'})
    # pipeline para preencher valores NaN das variáveis numéricas e padronizar as variáveis
    pipe_num = Pipeline(steps=[ 
                             ('imputer', SimpleImputer(strategy='median')), 
                             ('std_scaler', StandardScaler())
                              ]) 
    
   
    pipe_num.fit(var_numerica)
    
    x = pipe_num.transform([test_country[2:]])
    
    return float(x[0][9].round(3))

## Questão 5

Descubra o número de _outliers_ da variável `Net_migration` segundo o método do _boxplot_, ou seja, usando a lógica:

$$x \notin [Q1 - 1.5 \times \text{IQR}, Q3 + 1.5 \times \text{IQR}] \Rightarrow x \text{ é outlier}$$

que se encontram no grupo inferior e no grupo superior.

Você deveria remover da análise as observações consideradas _outliers_ segundo esse método? Responda como uma tupla de três elementos `(outliers_abaixo, outliers_acima, removeria?)` ((int, int, bool)).

In [13]:
def q5():
    # Retorne aqui o resultado da questão 4.
    Q1 = countries['Net_migration'].quantile(0.25)
    Q3 = countries['Net_migration'].quantile(0.75)
    lim_inf = Q1 - (1.5 * abs(Q3-Q1))
    lim_sup = Q3 + (1.5 * abs(Q3-Q1))
    outliers_abaixo = countries[(countries['Net_migration'] < lim_inf)]
    outliers_acima = countries[(countries['Net_migration'] > lim_sup)]
    return (outliers_abaixo.shape[0], outliers_acima.shape[0],False)

## Questão 6
Para as questões 6 e 7 utilize a biblioteca `fetch_20newsgroups` de datasets de test do `sklearn`

Considere carregar as seguintes categorias e o dataset `newsgroups`:

```
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
```


Aplique `CountVectorizer` ao _data set_ `newsgroups` e descubra o número de vezes que a palavra _phone_ aparece no corpus. Responda como um único escalar.

In [14]:
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroups_train = fetch_20newsgroups(subset='train',categories=categories,  shuffle=True, random_state=42)

In [15]:
def q6():
    # Retorne aqui o resultado da questão 6.
    vectorizer = CountVectorizer()
    X = vectorizer.fit_transform(newsgroups_train['data'])
    indice = vectorizer.get_feature_names().index("phone")
    valores = X[:,indice].sum()
    return int(valores)

## Questão 7

Aplique `TfidfVectorizer` ao _data set_ `newsgroups` e descubra o TF-IDF da palavra _phone_. Responda como um único escalar arredondado para três casas decimais.

In [16]:
def q7():
    # Retorne aqui o resultado da questão 7.
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(newsgroups_train['data'])
    indice = vectorizer.get_feature_names().index("phone")
    valores = X[:,indice].sum()
    return float(round(valores,3))